* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("./bg-Img.jpg");
  background-size: cover;
  background-position: center;
}
.container {
  min-height: 100vh;
  padding: 70px 0;
  text-align: center;
  color: #fff;
  background: linear-gradient(
    rgba(149, 170, 233, 0.88),
    rgba(90, 122, 218, 0.88)
  );
}
.container h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 55px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 420px);
  justify-content: center;
  gap: 40px;
  margin-bottom: 90px;
}
.card {
  background: #fff;
  padding: 44px 36px;
  display: grid;
  grid-template-columns: 100px 1fr;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}
.card img {
  width: 70px;
  align-self: center;
}
.card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 8px;
}
.card p {
  font-size: 14px;
  line-height: 1.6;
  color: #666;
}
.bottom-text {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}
.btn {
  background: #6fd19a;
  border: none;
  padding: 14px 36px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}
